/* sessions.css */



.session-container {
    border: 1px solid #ccc;
  
    padding: 1rem;

    margin-top: 5rem;
   
}

.session-item {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-top: 1;
    background-color: #fff;
}



.join-meeting-button {
    background-color: #4caf50;
    /* Green */
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 0.5rem;
}

.join-meeting-button:hover {
    background-color: #45a049;
    /* Darker green */
}

.cancel-button {
    background-color: #f44336;
    /* Red */
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 0.5rem;
}

.cancel-button:hover {
    background-color: #d32f2f;
    /* Darker red */
}


@media (max-width: 768px) {
    .session-container {
        margin-top: 2rem;
       
        padding: 0.5rem;

    }

    .session-item {
        margin-bottom: 0.5rem;
       
        padding: 0.5rem;
        
    }

    .join-meeting-button,
    .cancel-button {
        padding: 0.3rem 0.6rem;

        font-size: 0.9rem;
       
    }
}

.search-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 0rem;
    margin-bottom: 2rem;

  
 
}

.search-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease-in-out;
    margin-top: 0rem;
    margin-bottom: 0rem;
    position: relative;
    
}

.search-icon:hover {
    background-color: #e0e0e0;
}